/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */


/*
@media only screen and (max-width: 600px){
  .navbar{
  height: 6.5%;
}
  .navbar-toggler{
    font-size: 2.25rem !important;
  }
}


 */
@media only screen and (min-width: 600px){
  #carouselExampleIndicators{
    height: 50%;
    margin: 20px;
  }
}


button.navbar-toggler{
  border: 0;
}

#map {
  margin: 40px;
  height: 40%;
  /*border-radius: 10%; !important;*/
  border-style: solid;
}


.bandiera{
  width: 10vw;
  border-radius: 50%;
  height: 10vw;
}


.image-carosello{
  border-radius: 10%;
}

.place-description{
  /*background: linear-gradient(#3686E2, #ffffff);*/
  border-radius: 10%;
}

.sfondo{
  background: linear-gradient(white, #3686E2);
  padding-top: 1%;
  padding-bottom: 0;
  /*background-color: #3686E2 ;*/
}

.content_color{
  margin-top: 10%;
  width: 100%;
  background-color: white;
  padding: 10%;
  border-radius: 10%;
}

.sfondo2{
  background-color : #3686E2;
  margin-top: -1%;
  /*margin-top: -10%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;*/
  padding: 2%;
}

@media only screen and (max-width: 600px){
  #map {
    height: 40%;
    margin: 10px;
  }
  #carouselExampleIndicators{
    height: 50%;
    margin: 10px;
  }
}


.audioDiv{
  margin: 5% 5% 1%;
  border-style: solid;
  padding: 5%;
  border-radius: 10%;
  background-color: white;
}

.content_color h2{
  font-size: 2em;
  text-align: center;
  border-radius: 20%; !important;
  margin: 0px 10px 20px 10px;!important;
}

/*
 * Optional: Makes the sample page fill the window.
 */

html, body {
  height: 130vh;
  margin: 0;
  padding: 0;
}
