@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");

html {
  scroll-behavior: smooth;
}

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}

.timeline__content-title {
  font-weight: normal;
  font-size: 40px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  color: #fff;
  text-align: center;
}

.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}

.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}

.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}

.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}

.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
  .timeline__content-desc {
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 25px;
  }
}

.timeline__img {
  padding-bottom: 5%;
  max-width: 100%;
  /*box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);*/
  display: block;
  margin: 0 auto; /* Centra l'immagine orizzontalmente */
}

.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}

.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin: 0;
}

.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}

.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

/* stile per l'audio */

/* Stilizzazione generale per l'elemento audio */
audio {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

/* Stilizzazione per i controlli audio */
audio::-webkit-media-controls-panel {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  padding: 10px;
}

/* Stilizzazione per i pulsanti di controllo */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button,
audio::-webkit-media-controls-mute-button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 24px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

/* Hover effetto per i pulsanti di controllo */
audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-pause-button:hover,
audio::-webkit-media-controls-mute-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

/* Stilizzazione per la barra di avanzamento */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-timeline {
  color: white;
}

/* Stilizzazione per la barra di avanzamento e il cursore */
audio::-webkit-media-controls-timeline-progress-bar {
  background-color: white;
  height: 4px;
}

audio::-webkit-media-controls-timeline-thumb {
  background-color: white;
  border: 2px solid white;
  height: 14px;
  width: 14px;
  margin-top: -5px;
}

/* Nascondi il pulsante di download */
audio::-webkit-media-controls-download-button {
  display: none;
}

/* stile per il loader con il logo che gira */

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-logo {
  width: 100px;
  height: auto;
}

.loading-text {
  margin-top: 20px;
  font-size: 14px;
}

.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  display: none;
}

/* iframe di youtube */
.video-container {
  position: relative;
  width: 560px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Media query per dispositivi con larghezza massima di 768px (versione mobile) */
@media (max-width: 768px) {
  .video-container {
    width: 95%;
    height: calc(96.5vw * 310 / 560);
  }
}

/* Media query per dispositivi con larghezza compresa tra 768px e 1199px (tablet) */
@media (min-width: 800px) and (max-width: 1199px) {
  .video-container {
    width: 845px;
    height: 475px;
  }
}

/* Media query per dispositivi con larghezza minima di 1200px */
@media (min-width: 1200px) {
  .video-container {
    width: 1120px;
    height: 630px;
  }
}

/* per la mappa stile */
#map {
  margin: auto;
  width: 90%;
}

/* per la navbar */
button.navbar-toggler {
  border: 0;
}

.navbar-toggler a {
  display: inline-block;
  height: 100%;
}

.bandiera {
  width: 10vw;
  border-radius: 50%;
  height: 10vw;
  display: block;
}

@media screen and (min-width: 768px) {
  .bandiera {
    height: 50px;
    width: 50px;
  }
}

/* per il bottone che riscolla in alto */
/* Stile del pulsante */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
}
